<% content_for :actions do %>
  <%= yield :extra_actions %>
<% end %>

<% if collection.any? %>
  <ul class="collection_list">
    <% collection.each do | item | %>
      <li><%= link_to item, [:manage, item] %></li>
    <% end %>
  </ul>
<% else %>
  Список <%= t(pluralized_model, :count => 10) %> пуст
<% end %>
<div class="actions">
  <%= link_to action_title(:action => 'new'), new_resource_path, :class => 'button icon add' %>
</div>
