*.swp
.bundle/
.rake_tasks~
.rvmrc
.sass-cache/
bin/
config/database.yml
config/settings.yml
config/sunspot.yml
db/*.sqlite3
log/*.log
log/*.log.lck
log/*.log.gz
public/assets/
public/*.pdf
solr/data/
solr/pids/
tmp/
/uploads/
