<div id="tabs">
  <ul>
    <li><a href="#tab-1">Контент</a></li>
    <li><a href="#tab-2">Информация</a></li>
    <li><a href="#tab-3">Вложенные страницы</a></li>
  </ul>
  <div id="tab-1">
    <%= render :partial => 'parts/list' %>
  </div>
  <div id="tab-2">
    <%= render resource %>
  </div>
  <div id="tab-3">
    <%= render :partial => 'pages/list' %>
  </div>
</div>
