<!-- TODO сделать нормальную страницу -->
<div style="text-align: center; margin: 50px auto; width: 1000px">
  <%= link_to image_tag('http://placekitten.com/480/480'), manage_root_path, :title => 'Перейти к управлению' %>
</div>
