<!-- TODO сделать нормальную страницу -->
<div style="text-align: center; margin: 50px auto; width: 1000px">
  <%= link_to image_tag('kote.jpg', size: '480x480', alt: 'Вход в систему'), manage_root_path, :title => 'Перейти к управлению' %>
</div>
