<h3><%= gallery_part.title %></h3>

<ol>
  <% gallery_part.gallery_pictures.each do |picture| %>
    <li>
      <%= image_for(picture, :alt => picture.description, :width => '200') %>
      <%= picture.description %>
    </li>
  <% end %>
</ol>
