app:
  secret:       SECRET

errors:
  key:          KEY
  url:          http://errbit

slack:
  channel:      channel
  webhook:      http://webhook

sso:
  key:          KEY
  secret:       SECRET
  url:          http://domain.ru

storage:
  url:          http://domain.ru

unicorn:
  workers:      2
  timeout:      300

deploy:
  gateway:      user@host
  domain:       user@host
  application:  appname.ru
  port:         port

plans:
  url:          http://plans.url

priem:
  url:          http://priem.url
