production:
  hoptoad:
    api_key:            key
    host:               host

  s3:
    access_key_id:      key
    secret_access_key:  secret

blue_pages:
  protocol:             http
  host:                 esp-blue-pages.openteam.ru
  port:                 80

news:
  protocol:             http
  host:                 esp-news.openteam.ru
  port:                 3000

appeals:
  protocol:             http
  host:                 localhost
  port:                 3001
