@import 'compass/utilities'

#content_wrapper
  +clearfix
  nav
    width: 250px
    float: left
    h1
      font-size: 16px
      a
        padding-left: 21px
        background: transparent url('site.png') no-repeat left
  article
    border-left: 1px solid #ccc
    margin-left: 250px
    padding-left: 10px
  .collection_list
    font-size: 16px
  .regions_list
    .region
      padding: 5px 10px 10px 10px
      border: 1px solid #ddd
      margin-bottom: 10px
      legend
        font-size: 16px
  .nodes_list
    .actions
      float: right
