@import 'compass/utilities'

#content_wrapper
  +clearfix
  nav
    width: 250px
    float: left
    h1
      font-size: 16px
  article
    border-left: 1px solid #ccc
    margin-left: 250px
    padding-left: 10px
  .collection_list
    font-size: 16px
