<% content_for :actions do %>
  <%= link_to action_title(:action => 'new'), new_resource_path, :class => 'button icon add' %>
<% end %>

<% if collection.any? %>
  <ul class="collection_list">
    <% collection.each do | item | %>
      <li><%= render item %></li>
    <% end %>
  </ul>
<% else %>
  Список <%= t(pluralized_model, :count => 10) %> пуст
<% end %>
